<div id="main-wrapper"data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
            <div class="page-wrapper" style="min-height: 250px;">
            
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">User display</h4>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
    
            <div class="container-fluid">
             
                <div class="row">
                  {{#each consentUsers}}
                    <div class="col-md-4">
                        <div class="white-box">
                            <h3 class="box-title mx-auto my-auto">{{this}}</h3>
                        </div>
                    </div>
                    {{/each}}
                </div>
         
            </div>
       
        </div>
</div>

