<section class="registration-form">

<div class="row">
    <h2 class="mx-auto mt-3 text-capitalize">Register travel Consent</h2>
</div>
    <div class="row">
        <div class="col-md-7 mx-auto">

            <form>
                <div class="form-group">
                    <label for="exampleInputPassword1">Full Name</label>
                    <input type="name" id="name" name="name" class="form-control name"
                        placeholder="Enter name">
                </div>
                   <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" name="email" id="email" class="form-control email"
                            placeholder="Enter email">
                      
                    </div>

                      <div class="form-group row">
                    <div class="col-md-6 mx-auto">
                            <label for="number">Mobile Number</label>
                        <input type="tel" name="number" id="number" class="form-control number"
                            placeholder="Enter mobile number">
                      <small class="text-muted form-text">
                          Enter mobile number registered with vehicle

                      </small>
                    </div>
                        <div class="col-md-6 mx-auto">
                            <label for="number">DOB</label>
                        <input type="date" name="dob" id="dob" class="form-control dob"
                            placeholder="Enter date of birth">
               
                    </div>
                    </div>
                    
                          <div class="form-group">
                        <label for="aadhar">Aadhar Number</label>
                        <input type="text" name="aadhar" id="aadhar" class="form-control aadhar"
                            placeholder="Enter Aadhar number">
                
                    </div>
               


     
         
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>